Data Config if we were to make an api call

service:\n  
name: serviceName\n  
identifier: serviceId\n  
tags: {}\n  serviceDefinition:\n    
spec:\n      
artifacts:\n        
primary:\n          
primaryArtifactRef: artifactName\n          
sources:\n            - spec:\n                
connectorRef: connectorId\n                
imagePath: imagePath\n                
tag: tagId\n              
identifier: artifactName\n              
type: DockerRegistry\n    
type: Kubernetes\n"
